* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.menu {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
}

.menu-item-login-box {
    text-align: right;
    flex-shrink: 1;
    border-left: none !important;
}

.menu-item a {
    display: block;
    padding: 15px;
}

.menu-item + .menu-item {
    border-left: 1px solid #fff;
}

.menu-item-separator {
    flex-grow: 1;
    flex-shrink: 1;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}

.form {
    padding: 10px;
}

.form__field {
    margin: 5px;
}

input {
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
}

input.inline {
    width: auto;
}

.form__field label {
    display: block;

}

.button {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-weight: 600;
}

.button-primary {
    background-color: #000;
    color: #fff;
}